<a href="https://colab.research.google.com/github/tkd8973/DataAnalysis_SSW/blob/main/tkd8973/DataFrame_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.arange(20).reshape(4,5),
    index=list('rows'),    # 행
    columns = list('colum')    # 열
)
df

    c   o   l   u   m
r   0   1   2   3   4
o   5   6   7   8   9
w  10  11  12  13  14
s  15  16  17  18  19

## loc

* 문자열 인덱스 -> 인덱싱, 슬라이싱
* loc[행 인덱스], loc[행, 열 인덱스]
* 행 인덱스 하나만 넣으면 Series type으로 반환

In [ ]:
row_name ='w' #@param ['r','o','w','s']{'type':'string'}
df.loc[row_name]

c    10
o    11
l    12
u    13
m    14
Name: w, dtype: int64

In [ ]:
print(df.loc['r':'w'])
print('------------------')
print(df.loc['w'::-1])

    c   o   l   u   m
r   0   1   2   3   4
o   5   6   7   8   9
w  10  11  12  13  14
------------------
    c   o   l   u   m
w  10  11  12  13  14
o   5   6   7   8   9
r   0   1   2   3   4

In [ ]:
df.loc[['r','o','s']]

    c   o   l   u   m
r   0   1   2   3   4
o   5   6   7   8   9
s  15  16  17  18  19

In [ ]:
df.loc[df.c>14]

    c   o   l   u   m
s  15  16  17  18  19

In [ ]:
df2 = pd.DataFrame(
    np.arange(16).reshape(4,4),
    columns=list('ABCD')
)
df2

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
df2.iloc[1:2]

   A  B  C  D
1  4  5  6  7

In [ ]:
# [행,열] -> 모두 문자열 인덱스여야 함
# 열에도 인덱싱, 슬라이싱, 리스트
# loc의 열 인덱스 작업에서는 boolean 불가
df.loc['r','c']

0

In [ ]:
# iloc에는 조건문 x
df2.iloc[df2.A>14]

NotImplementedError: ignored

## 주요 메소드

In [ ]:
s = pd.Series(np.arange(10))
s2= s.copy()
s2.count()

10

In [ ]:
s2[0]=np.nan

print(s.count(),s2.count(),len(s2))
print('----------------------')
print(s2.notnull())
print('----------------------')
print(s2.isnull())

10 9 10
----------------------
0    False
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool
----------------------
0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
df = pd.DataFrame(np.random.randint(5,size=(4,5)),dtype='f')
df

     0    1    2    3    4
0  3.0  2.0  0.0  1.0  4.0
1  0.0  0.0  3.0  0.0  3.0
2  1.0  0.0  3.0  0.0  1.0
3  4.0  2.0  2.0  0.0  4.0

In [ ]:
df.loc[2,3] = np.nan
df

     0    1    2    3    4
0  3.0  2.0  0.0  1.0  4.0
1  0.0  0.0  3.0  0.0  3.0
2  1.0  0.0  3.0  NaN  1.0
3  4.0  2.0  2.0  0.0  4.0

In [ ]:
print(df.count())    # 행의 값들을 열 기준으로 (↕ 방향)
print(df.count(axis=1))    # 열의 값들을 행 기준으로 (↔ 방향)
print(len(df))

0    4
1    4
2    4
3    3
4    4
dtype: int64
0    5
1    5
2    4
3    5
dtype: int64
4

In [ ]:
df.columns = list('ABCDE')
df

     A    B    C    D    E
0  3.0  2.0  0.0  1.0  4.0
1  0.0  0.0  3.0  0.0  3.0
2  1.0  0.0  3.0  NaN  1.0
3  4.0  2.0  2.0  0.0  4.0

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
titanic.describe(include = 'object')

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

In [ ]:
titanic.describe(include = 'category')

        class deck
count     891  203
unique      3    7
top     Third    C
freq      491   59

In [ ]:
s2 = pd.Series(np.random.randint(6,size=100))

s2.value_counts(ascending=True)    # 오름차순 
s2.value_counts()    # 내림차순

2    19
4    19
3    16
1    16
0    15
5    15
dtype: int64

In [ ]:
df

     A    B    C    D    E
0  3.0  2.0  0.0  1.0  4.0
1  0.0  0.0  3.0  0.0  3.0
2  1.0  0.0  3.0  NaN  1.0
3  4.0  2.0  2.0  0.0  4.0

In [ ]:
df.iloc[:,1].value_counts()  # 특정 열의 고윳값 count

2.0    2
0.0    2
Name: B, dtype: int64

In [ ]:
s2.unique() , s2.nunique()

(array([0, 2, 5, 4, 3, 1]), 6)

In [ ]:
#@title 정렬(sort)
si = s2.value_counts().sort_index()
si

0    15
1    16
2    19
3    16
4    19
5    15
dtype: int64

In [ ]:
si2 = s2.value_counts().sort_index(ascending=0)
si2

5    15
4    19
3    16
2    19
1    16
0    15
dtype: int64

In [ ]:
s[2]=np.nan

 0    0.0
 1    1.0
 2    NaN
 3    3.0
 4    4.0
 5    5.0
 6    6.0
 7    7.0
 8    8.0
 9    9.0
-2    NaN
dtype: float64

In [ ]:
s.sort_values()  # default : 값 기준 오름차순 , nan : 맨 끝으로
s

 0    0.0
 1    1.0
 2    NaN
 3    3.0
 4    4.0
 5    5.0
 6    6.0
 7    7.0
 8    8.0
 9    9.0
-2    NaN
dtype: float64

In [ ]:
s.sort_values(ascending=True,na_position='last')
s.sort_values(ascending=0)

 9    9.0
 8    8.0
 7    7.0
 6    6.0
 5    5.0
 4    4.0
 3    3.0
 1    1.0
 0    0.0
 2    NaN
-2    NaN
dtype: float64

In [ ]:
df.sort_values(by='D')  # 특정 인덱스를 기준으로 sort

     A    B    C    D    E
1  0.0  0.0  3.0  0.0  3.0
3  4.0  2.0  2.0  0.0  4.0
0  3.0  2.0  0.0  1.0  4.0
2  1.0  0.0  3.0  NaN  1.0

In [ ]:
df.sort_values(by=['D','B'])    # E에 대해 정렬 후, B에 대해 정렬

     A    B    C    D    E
1  0.0  0.0  3.0  0.0  3.0
3  4.0  2.0  2.0  0.0  4.0
0  3.0  2.0  0.0  1.0  4.0
2  1.0  0.0  3.0  NaN  1.0

In [ ]:
#@title 합계,평균, 최대, 최소 값
df.sum() # nan값 무시 [0,:],[1,:],[2,:]
df.mean() # [0,:],[1,:],[2,:]

df.sum(axis=1) # [:,0],[:,1],[:,2]

A     8.0
B     4.0
C     8.0
D     1.0
E    12.0
dtype: float32

In [ ]:
df

     A    B    C    D    E
0  3.0  2.0  0.0  1.0  4.0
1  0.0  0.0  3.0  0.0  3.0
2  1.0  0.0  3.0  NaN  1.0
3  4.0  2.0  2.0  0.0  4.0

In [ ]:
df.max()-df.min()    # 열 최대 - 열 최소

A    4.0
B    2.0
C    3.0
D    1.0
E    3.0
dtype: float32

In [ ]:
print(df.apply(lambda x:x.max()-x.min() , axis=0))    # 열 최대 - 열 최소
print('-------------')
print(df.apply(lambda x:x.max()-x.min() , axis=1))     # 행 최대 - 행 최소

A    4.0
B    2.0
C    3.0
D    1.0
E    3.0
dtype: float32
-------------
0    4.0
1    3.0
2    3.0
3    4.0
dtype: float32

In [ ]:
#@title apply,index, drop
df4 = pd.DataFrame(np.random.choice(['sw','tk','yh','sh'],20,replace=1).reshape(4,5))
df4

    0   1   2   3   4
0  sh  tk  sw  sh  tk
1  sh  sh  sw  tk  sw
2  sw  sh  sw  yh  yh
3  yh  sh  yh  sw  tk

In [ ]:
df4.apply(lambda x:[i[0].upper()+i[1] for i in x],axis=0)

    0   1   2   3   4
0  Sh  Tk  Sw  Sh  Tk
1  Sh  Sh  Sw  Tk  Sw
2  Sw  Sh  Sw  Yh  Yh
3  Yh  Sh  Yh  Sw  Tk

In [ ]:
df4.index = list('abcd')
df4

    0   1   2   3   4
a  sh  tk  sw  sh  tk
b  sh  sh  sw  tk  sw
c  sw  sh  sw  yh  yh
d  yh  sh  yh  sw  tk

In [ ]:
df4.reset_index(inplace=True)    # inplace=True 이면 원본에 영향, False 이면 사본
df4

  index   0   1   2   3   4
0     a  sh  tk  sw  sh  tk
1     b  sh  sh  sw  tk  sw
2     c  sw  sh  sw  yh  yh
3     d  yh  sh  yh  sw  tk

In [ ]:

df4.set_index('index',inplace=True)
df4

        0   1   2   3   4
index
a      sh  tk  sw  sh  tk
b      sh  sh  sw  tk  sw
c      sw  sh  sw  yh  yh
d      yh  sh  yh  sw  tk

In [ ]:
df4.drop('a',axis=0,inplace=True)
df4

        0   1   2   3   4
index
b      sh  sh  sw  tk  sw
c      sw  sh  sw  yh  yh
d      yh  sh  yh  sw  tk

In [ ]:
#@title 합성(merge)
customer = ['sw','bh','us','ko','jp']
ids = lambda x:[f'1{i+x:03d}' for i in range(len(customer))]
ids(1),customer

(['1001', '1002', '1003', '1004', '1005'], ['sw', 'bh', 'us', 'ko', 'jp'])

In [ ]:
df1 = pd.DataFrame({
    'id':ids(1),
    'name':customer
})
df1

     id name
0  1001   sw
1  1002   bh
2  1003   us
3  1004   ko
4  1005   jp

In [ ]:
df2 = pd.DataFrame({
    'id' : np.random.choice(ids(2),size=10,replace=True)
})
df2

     id
0  1005
1  1003
2  1005
3  1004
4  1004
5  1003
6  1004
7  1006
8  1006
9  1006

In [ ]:
df2['money'] = df2.id.apply(lambda x:int(x)*abs(np.random.randn())*1000).astype(int)
df2

     id    money
0  1005   244194
1  1003   233295
2  1005   740938
3  1004   489731
4  1004   209449
5  1003  1158591
6  1004    58045
7  1006   150377
8  1006   190094
9  1006   782193

In [ ]:
pd.merge(df1,df2,how='right')

     id name    money
0  1005   jp   244194
1  1003   us   233295
2  1005   jp   740938
3  1004   ko   489731
4  1004   ko   209449
5  1003   us  1158591
6  1004   ko    58045
7  1006  NaN   150377
8  1006  NaN   190094
9  1006  NaN   782193

In [ ]:
pd.merge(df1,df2,how='left')

     id name      money
0  1001   sw        NaN
1  1002   bh        NaN
2  1003   us   233295.0
3  1003   us  1158591.0
4  1004   ko   489731.0
5  1004   ko   209449.0
6  1004   ko    58045.0
7  1005   jp   244194.0
8  1005   jp   740938.0

In [ ]:
pd.merge(df1,df2,how='outer')

      id name      money
0   1001   sw        NaN
1   1002   bh        NaN
2   1003   us   233295.0
3   1003   us  1158591.0
4   1004   ko   489731.0
5   1004   ko   209449.0
6   1004   ko    58045.0
7   1005   jp   244194.0
8   1005   jp   740938.0
9   1006  NaN   150377.0
10  1006  NaN   190094.0
11  1006  NaN   782193.0

In [ ]:
pd.merge(df1,df2,how='inner')

     id name    money
0  1003   us   233295
1  1003   us  1158591
2  1004   ko   489731
3  1004   ko   209449
4  1004   ko    58045
5  1005   jp   244194
6  1005   jp   740938

In [ ]:
df3 = df1.copy()
df3.columns = ['id','data']
df4 = df2.copy()
df4.columns = ['id','data']

pd.merge(df3,df4,on='id')

     id data_x   data_y
0  1003     us   233295
1  1003     us  1158591
2  1004     ko   489731
3  1004     ko   209449
4  1004     ko    58045
5  1005     jp   244194
6  1005     jp   740938

In [ ]:
df5 = df1.copy()
df5.columns = ['id','data']
df6 = df2.copy()
df6.columns = ['Id','data']

pd.merge(df5,df6,left_on='id',right_on='Id').drop('Id',axis=1)

     id data_x   data_y
0  1003     us   233295
1  1003     us  1158591
2  1004     ko   489731
3  1004     ko   209449
4  1004     ko    58045
5  1005     jp   244194
6  1005     jp   740938

In [ ]:
df1.join(df5,lsuffix='l',rsuffix='r',how='outer')

    idl name   idr data
0  1001   sw  1001   sw
1  1002   bh  1002   bh
2  1003   us  1003   us
3  1004   ko  1004   ko
4  1005   jp  1005   jp