<a href="https://colab.research.google.com/github/andy9806/DataAnalysis_23/blob/main/andy9806/0314(groupby%2Cagg).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 복습

In [1]:
import numpy as np
import pandas as pd

In [4]:
df3 = pd.DataFrame({
    'A':[1,3,4,3,4],
    'B':[2,3,1,2,3],
    'C':[1,5,2,4,4],
})
df3

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [16]:
df3.apply(np.sum,axis=1)

0     4
1    11
2     7
3     9
4    11
dtype: int64

In [18]:
df3['sum'] = df3.apply(np.sum,axis=1)
df3

   A  B  C  sum
0  1  2  1    8
1  3  3  5   22
2  4  1  2   14
3  3  2  4   18
4  4  3  4   22

In [19]:
df3['mean'] = df3.apply(np.mean,axis=1)
df3

   A  B  C  sum  mean
0  1  2  1    8  3.00
1  3  3  5   22  8.25
2  4  1  2   14  5.25
3  3  2  4   18  6.75
4  4  3  4   22  8.25

In [14]:
a = pd.DataFrame(df3.apply(np.sum)).T

In [20]:
pd.concat([df3,a],ignore_index=True)

    A   B   C   sum  mean
0   1   2   1   8.0  3.00
1   3   3   5  22.0  8.25
2   4   1   2  14.0  5.25
3   3   2   4  18.0  6.75
4   4   3   4  22.0  8.25
5  15  11  16   NaN   NaN

In [21]:
pd.concat([df3,a])

    A   B   C   sum  mean
0   1   2   1   8.0  3.00
1   3   3   5  22.0  8.25
2   4   1   2  14.0  5.25
3   3   2   4  18.0  6.75
4   4   3   4  22.0  8.25
0  15  11  16   NaN   NaN

In [24]:
a.columns=['a','b','c']
a

    a   b   c
0  15  11  16

In [27]:
pd.concat([df3,a],axis=1)

   A  B  C  sum  mean     a     b     c
0  1  2  1    8  3.00  15.0  11.0  16.0
1  3  3  5   22  8.25   NaN   NaN   NaN
2  4  1  2   14  5.25   NaN   NaN   NaN
3  3  2  4   18  6.75   NaN   NaN   NaN
4  4  3  4   22  8.25   NaN   NaN   NaN

In [28]:
pd.concat([df3,a])

     A    B    C   sum  mean     a     b     c
0  1.0  2.0  1.0   8.0  3.00   NaN   NaN   NaN
1  3.0  3.0  5.0  22.0  8.25   NaN   NaN   NaN
2  4.0  1.0  2.0  14.0  5.25   NaN   NaN   NaN
3  3.0  2.0  4.0  18.0  6.75   NaN   NaN   NaN
4  4.0  3.0  4.0  22.0  8.25   NaN   NaN   NaN
0  NaN  NaN  NaN   NaN   NaN  15.0  11.0  16.0

# 0314

In [35]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}

In [38]:
df1 = pd.DataFrame(data)
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010   263203  수도권

In [42]:
df1.pivot('도시','연도','인구')  #pivot(행,열,값) 없으면 nan 값

연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [45]:
# 조건을 만족시키는 데이터가 2개 이상일 경우에는 pivot table 변환 불가

In [87]:
df2 = df1.set_index(['도시','연도'])[['인구']]
df2

              인구
도시 연도
서울 2015  9904312
   2010  9631482
   2005  9762546
부산 2015  3448737
   2010  3393191
   2005  3512547
인천 2015  2890451
   2010   263203

In [88]:
df2.unstack()

           인구
연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [60]:
df2.index

MultiIndex([('서울', '2015'),
            ('서울', '2010'),
            ('서울', '2005'),
            ('부산', '2015'),
            ('부산', '2010'),
            ('부산', '2005'),
            ('인천', '2015'),
            ('인천', '2010')],
           names=['도시', '연도'])

In [61]:
df2[df2.index==('서울','2015')]

              인구
도시 연도
서울 2015  9904312

In [48]:
df1.set_index(['도시','연도'])[['인구']].unstack()

           인구
연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [62]:
np.random.seed(0)
df2 = pd.DataFrame({
    'key1': ['A', 'A', 'B', 'B', 'A'],
    'key2': ['one', 'two', 'one', 'two', 'one'],
    'data1': [1, 2, 3, 4, 5],
    'data2': [10, 20, 30, 40, 50]
})
df2

  key1 key2  data1  data2
0    A  one      1     10
1    A  two      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

In [64]:
df2.groupby('key1').count()

      key2  data1  data2
key1
A        3      3      3
B        2      2      2

In [65]:
df2.groupby('key1').mean()

         data1      data2
key1
A     2.666667  26.666667
B     3.500000  35.000000

In [66]:
df2.groupby('key1').median()

      data1  data2
key1
A       2.0   20.0
B       3.5   35.0

In [67]:
df2.groupby('key1').max()

     key2  data1  data2
key1
A     two      5     50
B     two      4     40

In [68]:
df2.groupby('key1').sum()

      data1  data2
key1
A         8     80
B         7     70

In [70]:
df2.groupby('key1').prod()  #일괄적으로 곱함

      data1  data2
key1
A        10  10000
B        12   1200

In [71]:
df2.groupby('key1').std()

         data1      data2
key1
A     2.081666  20.816660
B     0.707107   7.071068

In [72]:
df2.groupby('key1').var()

         data1       data2
key1
A     4.333333  433.333333
B     0.500000   50.000000

In [73]:
df2.groupby('key1').quantile(0.25)

<ipython-input-73-824db756b6d7>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  df2.groupby('key1').quantile(0.25)

      data1  data2
key1
A      1.50   15.0
B      3.25   32.5

In [76]:
df2.groupby(['key1','key2']).count()

           data1  data2
key1 key2
A    one       2      2
     two       1      1
B    one       1      1
     two       1      1

In [77]:
df1.groupby('도시')[['인구']].sum()

          인구
도시
부산  10354475
서울  29298340
인천   3153654

In [78]:
df1.groupby(['지역','도시'])[['인구']].sum()

              인구
지역  도시
경상권 부산  10354475
수도권 서울  29298340
    인천   3153654

In [81]:
df2.data1.groupby([df2.key1,df2.key2]).sum()

key1  key2
A     one     6
      two     2
B     one     3
      two     4
Name: data1, dtype: int64

In [83]:
df1.groupby([df1.지역,df1.연도]).sum()

                인구
지역  연도
경상권 2005   3512547
    2010   3393191
    2015   3448737
수도권 2005   9762546
    2010   9894685
    2015  12794763

In [84]:
df1.groupby([df1.지역,df1.연도]).sum().unstack()

          인구
연도      2005     2010      2015
지역
경상권  3512547  3393191   3448737
수도권  9762546  9894685  12794763

In [86]:
df1.groupby([df1.지역,df1.연도]).sum().unstack('연도')

          인구
연도      2005     2010      2015
지역
경상권  3512547  3393191   3448737
수도권  9762546  9894685  12794763

In [89]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [90]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [91]:
iris.groupby(iris.species).agg(lambda x:x.max()/x.min())

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          1.348837     1.913043      1.900000     6.000000
versicolor      1.428571     1.700000      1.700000     1.800000
virginica       1.612245     1.727273      1.533333     1.785714

In [95]:
iris.groupby('species').agg(count =('species','count'))

            count
species
setosa         50
versicolor     50
virginica      50

In [97]:
date_str=['2023.1.1','2023.1.4','2023.1.5','2023.1.6']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-01-01', '2023-01-04', '2023-01-05', '2023-01-06'], dtype='datetime64[ns]', freq=None)

In [98]:
s = pd.Series(np.random.randn(len(idx)),index=idx)
s

2023-01-01    1.764052
2023-01-04    0.400157
2023-01-05    0.978738
2023-01-06    2.240893
dtype: float64

In [100]:
pd.date_range('2023.4.1','2023.4.30')
# pd.date_range('2023.4.1','2023.4.30',freq='D') 위와 동일

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [101]:
pd.date_range('2023.4.1',periods=30)

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [104]:
pd.date_range('2023.4.1',periods=30,freq='M')

DatetimeIndex(['2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31',
               '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30',
               '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31',
               '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31',
               '2024-08-31', '2024-09-30', '2024-10-31', '2024-11-30',
               '2024-12-31', '2025-01-31', '2025-02-28', '2025-03-31',
               '2025-04-30', '2025-05-31', '2025-06-30', '2025-07-31',
               '2025-08-31', '2025-09-30'],
              dtype='datetime64[ns]', freq='M')

In [105]:
pd.date_range('2023.4.1',periods=30,freq='MS')

DatetimeIndex(['2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01',
               '2023-08-01', '2023-09-01', '2023-10-01', '2023-11-01',
               '2023-12-01', '2024-01-01', '2024-02-01', '2024-03-01',
               '2024-04-01', '2024-05-01', '2024-06-01', '2024-07-01',
               '2024-08-01', '2024-09-01', '2024-10-01', '2024-11-01',
               '2024-12-01', '2025-01-01', '2025-02-01', '2025-03-01',
               '2025-04-01', '2025-05-01', '2025-06-01', '2025-07-01',
               '2025-08-01', '2025-09-01'],
              dtype='datetime64[ns]', freq='MS')

In [106]:
!pip install yfinance -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 3.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 6.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 11.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 6.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.8/112.8 KB 10.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 51.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.2/199.2 KB 19.1 MB/s eta 0:00:00

In [136]:
import yfinance as yf
tqqq = yf.Ticker('TQQQ').history()
tqqq.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2023-02-14 00:00:00-05:00,24.540001,25.740000,24.049999,25.490000,255737200,0.0,0.0,0.0
2023-02-15 00:00:00-05:00,25.020000,26.100000,24.850000,26.059999,137763700,0.0,0.0,0.0
2023-02-16 00:00:00-05:00,24.830000,25.870001,24.530001,24.570000,194496500,0.0,0.0,0.0
2023-02-17 00:00:00-05:00,24.030001,24.230000,23.299999,24.040001,194902400,0.0,0.0,0.0
2023-02-21 00:00:00-05:00,23.100000,23.450001,22.290001,22.350000,150468800,0.0,0.0,0.0

In [135]:
df = tqqq[['Close']]
df.head()

                               Close
Date
2023-02-14 00:00:00-05:00  25.490000
2023-02-15 00:00:00-05:00  26.059999
2023-02-16 00:00:00-05:00  24.570000
2023-02-17 00:00:00-05:00  24.040001
2023-02-21 00:00:00-05:00  22.350000

In [113]:
df.shift(1) #데이터를 하나씩 내려줌

                               Close
Date
2023-02-14 00:00:00-05:00        NaN
2023-02-15 00:00:00-05:00  25.490000
2023-02-16 00:00:00-05:00  26.059999
2023-02-17 00:00:00-05:00  24.570000
2023-02-21 00:00:00-05:00  24.040001
2023-02-22 00:00:00-05:00  22.350000
2023-02-23 00:00:00-05:00  22.370001
2023-02-24 00:00:00-05:00  22.930000
2023-02-27 00:00:00-05:00  21.770000
2023-02-28 00:00:00-05:00  22.240000
2023-03-01 00:00:00-05:00  22.129999
2023-03-02 00:00:00-05:00  21.590000
2023-03-03 00:00:00-05:00  22.110001
2023-03-06 00:00:00-05:00  23.459999
2023-03-07 00:00:00-05:00  23.559999
2023-03-08 00:00:00-05:00  22.680000
2023-03-09 00:00:00-05:00  22.990000
2023-03-10 00:00:00-05:00  21.780001
2023-03-13 00:00:00-04:00  20.879999

In [114]:
df.shift(-1) #데이터를 하나씩 올려줌

                               Close
Date
2023-02-14 00:00:00-05:00  26.059999
2023-02-15 00:00:00-05:00  24.570000
2023-02-16 00:00:00-05:00  24.040001
2023-02-17 00:00:00-05:00  22.350000
2023-02-21 00:00:00-05:00  22.370001
2023-02-22 00:00:00-05:00  22.930000
2023-02-23 00:00:00-05:00  21.770000
2023-02-24 00:00:00-05:00  22.240000
2023-02-27 00:00:00-05:00  22.129999
2023-02-28 00:00:00-05:00  21.590000
2023-03-01 00:00:00-05:00  22.110001
2023-03-02 00:00:00-05:00  23.459999
2023-03-03 00:00:00-05:00  23.559999
2023-03-06 00:00:00-05:00  22.680000
2023-03-07 00:00:00-05:00  22.990000
2023-03-08 00:00:00-05:00  21.780001
2023-03-09 00:00:00-05:00  20.879999
2023-03-10 00:00:00-05:00  21.330000
2023-03-13 00:00:00-04:00        NaN

In [115]:
(df - df.shift(1))/df.shift(1)

                              Close
Date
2023-02-14 00:00:00-05:00       NaN
2023-02-15 00:00:00-05:00  0.022362
2023-02-16 00:00:00-05:00 -0.057176
2023-02-17 00:00:00-05:00 -0.021571
2023-02-21 00:00:00-05:00 -0.070300
2023-02-22 00:00:00-05:00  0.000895
2023-02-23 00:00:00-05:00  0.025034
2023-02-24 00:00:00-05:00 -0.050589
2023-02-27 00:00:00-05:00  0.021589
2023-02-28 00:00:00-05:00 -0.004946
2023-03-01 00:00:00-05:00 -0.024401
2023-03-02 00:00:00-05:00  0.024085
2023-03-03 00:00:00-05:00  0.061058
2023-03-06 00:00:00-05:00  0.004263
2023-03-07 00:00:00-05:00 -0.037351
2023-03-08 00:00:00-05:00  0.013668
2023-03-09 00:00:00-05:00 -0.052632
2023-03-10 00:00:00-05:00 -0.041322
2023-03-13 00:00:00-04:00  0.021552

In [134]:
# df.index = df.index.date
df.head()

                Close
2023-02-14  25.490000
2023-02-15  26.059999
2023-02-16  24.570000
2023-02-17  24.040001
2023-02-21  22.350000

# resample 공부하기

In [119]:
!pip install pyupbit -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.5/106.5 KB 4.8 MB/s eta 0:00:00

In [120]:
import pyupbit

In [128]:
eth = pyupbit.get_ohlcv('KRW-ETH')

In [133]:
eth.resample('W').mean().head()

,open,high,low,close,volume,value
2022-08-28,2.074500e+06,2.096000e+06,1.992500e+06,2.021250e+06,54080.444123,1.110575e+11
2022-09-04,2.120857e+06,2.196571e+06,2.089500e+06,2.148857e+06,71225.353504,1.527106e+11
2022-09-11,2.269000e+06,2.342857e+06,2.233429e+06,2.303000e+06,69019.441334,1.565721e+11
2022-09-18,2.205429e+06,2.245286e+06,2.088357e+06,2.131929e+06,88247.159697,1.922623e+11
2022-09-25,1.883429e+06,1.943286e+06,1.823071e+06,1.879286e+06,64938.817108,1.218171e+11

In [132]:
eth.resample('W').max().head()

,open,high,low,close,volume,value
2022-08-28,2086000.0,2102000.0,2010000.0,2063000.0,65272.840858,1.346476e+11
2022-09-04,2176000.0,2260000.0,2145000.0,2176000.0,97587.305001,2.148812e+11
2022-09-11,2414000.0,2431000.0,2373000.0,2416000.0,121839.906241,2.755952e+11
2022-09-18,2407000.0,2427000.0,2320000.0,2346000.0,176152.227082,3.925108e+11
2022-09-25,1941000.0,1977000.0,1880000.0,1940500.0,94088.494720,1.771025e+11

In [137]:
eth.resample('MS').first()

,open,high,low,close,volume,value
2022-08-01,2086000.0,2102000.0,2010000.0,2063000.0,65272.840858,1.346476e+11
2022-09-01,2136000.0,2193000.0,2098000.0,2175000.0,76365.258780,1.635857e+11
2022-10-01,1909000.0,1920000.0,1884500.0,1896500.0,16267.927684,3.100165e+10
2022-11-01,2207000.0,2250000.0,2200000.0,2218000.0,26295.823637,5.847636e+10
2022-12-01,1752500.0,1754500.0,1710000.0,1729000.0,29415.605675,5.099052e+10
2023-01-01,1524000.0,1535500.0,1519000.0,1528000.0,6939.249786,1.058576e+10
2023-02-01,1992500.0,2060000.0,1957500.0,2048000.0,32184.490441,6.463830e+10
2023-03-01,2153000.0,2200000.0,2135000.0,2194000.0,17948.881441,3.911013e+10

In [138]:
eth.resample('M').last()

,open,high,low,close,volume,value
2022-08-31,2101000.0,2209000.0,2100000.0,2136000.0,89723.275812,1.941040e+11
2022-09-30,1910000.0,1964000.0,1892500.0,1911000.0,43457.254211,8.345874e+10
2022-10-31,2234000.0,2291000.0,2184000.0,2208000.0,38155.119935,8.509727e+10
2022-11-30,1657000.0,1766500.0,1655000.0,1752500.0,50982.607639,8.796424e+10
2022-12-31,1524000.0,1537000.0,1514000.0,1525000.0,10909.811781,1.662917e+10
2023-01-31,1969500.0,2011000.0,1952000.0,1992500.0,21724.126658,4.300284e+10
2023-02-28,2175000.0,2188000.0,2145000.0,2150000.0,15149.458033,3.282148e+10
2023-03-31,2200000.0,2229000.0,2191000.0,2204000.0,11691.536910,2.581765e+10

In [139]:
eth.index = eth.index.date

In [140]:
eth.head()

,open,high,low,close,volume,value
2022-08-27,2086000.0,2102000.0,2010000.0,2063000.0,65272.840858,1.346476e+11
2022-08-28,2063000.0,2090000.0,1975000.0,1979500.0,42888.047388,8.746746e+10
2022-08-29,1978000.0,2138000.0,1970500.0,2127000.0,74358.776692,1.523151e+11
2022-08-30,2126000.0,2203000.0,2047000.0,2103000.0,94895.856511,2.025001e+11
2022-08-31,2101000.0,2209000.0,2100000.0,2136000.0,89723.275812,1.941040e+11

In [141]:
# ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

In [142]:
s = pd.Series(pd.date_range('2023.1.1',periods=100))
s

0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
4    2023-01-05
        ...
95   2023-04-06
96   2023-04-07
97   2023-04-08
98   2023-04-09
99   2023-04-10
Length: 100, dtype: datetime64[ns]

In [144]:
s.dt.year

0     2023
1     2023
2     2023
3     2023
4     2023
      ...
95    2023
96    2023
97    2023
98    2023
99    2023
Length: 100, dtype: int64

In [145]:
s.dt.month

0     1
1     1
2     1
3     1
4     1
     ..
95    4
96    4
97    4
98    4
99    4
Length: 100, dtype: int64

In [146]:
s.dt.day

0      1
1      2
2      3
3      4
4      5
      ..
95     6
96     7
97     8
98     9
99    10
Length: 100, dtype: int64

In [147]:
s.dt.time

0     00:00:00
1     00:00:00
2     00:00:00
3     00:00:00
4     00:00:00
        ...
95    00:00:00
96    00:00:00
97    00:00:00
98    00:00:00
99    00:00:00
Length: 100, dtype: object

In [148]:
s.dt.weekday

0     6
1     0
2     1
3     2
4     3
     ..
95    3
96    4
97    5
98    6
99    0
Length: 100, dtype: int64